{% load static %}

<section class="container mt-5">
    <h2 class="text-center p-5 bolder">OUR SERVICES</h2>

    <div class="row container">
        <div class="col-md-4">
            <img class="img-fluid shadow-lg rounded-circle" src="{% static 'appname/img/1.jpg' %}" alt="image">
            <p class="text-center py-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, sunt explicabo! Dolor atque error neque?</p>
        </div>
        <div class="col-md-4">
            <img class="img-fluid shadow-lg rounded-circle" src="{% static 'appname/img/1.jpg' %}" alt="image">
            <p class="text-center py-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, sunt explicabo! Dolor atque error neque?</p>
        </div>
        <div class="col-md-4">
            <img class="img-fluid shadow-lg rounded-circle" src="{% static 'appname/img/1.jpg' %}" alt="image">
            <p class="text-center py-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, sunt explicabo! Dolor atque error neque?</p>
        </div>
    </div>

</section>
