{% load static %}
<div class="row m-5">
    <div class="col-md-6">
        <img class="img-fluid shadow-lg rounded-pi" src="{% static 'appname/img/1.jpg' %}" alt="image">
    </div>
    <div class="col-md-6 text-dark">
        <h2 class="text-center mb-2">About Us</h2>
        <p class="p-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum tenetur fuga mollitia veritatis hic voluptas esse aliquid quo ea deleniti corrupti vel, eligendi perferendis aut consequuntur nihil est rerum repellat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo earum debitis et aliquam rem, corrupti laudantium animi corporis quasi, aperiam vitae a! Aliquam quam natus, earum vitae fugiat molestias architecto.
        </p>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam at minima fuga minus nemo fugit quasi quos quod laudantium, assumenda adipisci quam enim est eligendi praesentium! Ut tempora voluptatibus cum? <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate assumenda itaque rem inventore molestiae velit et! Perspiciatis est eos facilis tenetur eligendi, molestias voluptate nesciunt, ipsa quis dignissimos autem accusamus.
        </p>
        <div class="text-center">
            <a href="#" class="btn-lg btn-success text-decoration-none">Read More</a>
        </div>
       
    </div>
</div>